src/n8nprototype/backend/workflows/SessionManagement/RequestTokenEmailWorkflow1.json
{
  "name": "RequestTokenEmailWorkflow1",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "donotreply@agile-athletes.de",
        "toEmail": "={{$json.email}}",
        "subject": "Your Login Token",
        "text": "=Your login token is: {{$json.token}}. It expires in 24 hours.",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        840,
        480
      ],
      "id": "77eac8ff-b55f-4352-96c6-76ffd94b5162",
      "credentials": {
        "smtp": {
          "id": "TQhmTbA25pPtdfew",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6b96ffe-56b0-443d-b005-2354fc1de5af",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        540
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "request-token",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Request Token",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "request-token-1",
      "id": "51e7e85b-452b-4930-a62f-64d84f0d7207"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $json.body.email;\n// Generate a five-digit token\nconst token = Math.floor(10000 + Math.random() * 90000).toString();\n// Calculate expiry: now + 1 day (ISO string)\nconst expiry = new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString();\n\n// Expecting input JSON to contain an 'email' field\nreturn {\n  email: email,\n  token,\n  expiry\n};"
      },
      "id": "3ed5ed00-a3c1-4441-832b-73cc71e7ab33",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Request Token": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3359248c-c294-4f79-9f4b-887c4b8f875d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68f9e66783549a11e344292a1ef8ccb1a9d2307f134c3a15405499ae2f6cb69a"
  },
  "id": "rrGOBvVF8xfEXKh5",
  "tags": [
    {
      "createdAt": "2025-03-02T10:41:46.812Z",
      "updatedAt": "2025-03-02T10:41:46.812Z",
      "id": "aSsjTAKeiCPuHE4R",
      "name": "Validation"
    }
  ]
}