src/n8nprototype/workflows/SelectWorkflowExperiment/SelectWorkflowExperiment.json
{
  "name": "SelectWorkflowExperiment",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "14308df3-8c48-43c9-a31c-26c76051b5e5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        100
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "16f9e065-a7f0-4e48-9b0d-08cd4b422be4",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        40,
        280
      ],
      "credentials": {
        "openAiApi": {
          "id": "Cc5LhcW6D019Grb0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "62eb6dc8-452e-4b0f-a461-615c6eda1ebe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "74dd1183-745b-4715-848c-d09c2f60f55e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "webhookId": "62eb6dc8-452e-4b0f-a461-615c6eda1ebe"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant to management tasked with evaluating whether submitted issue\nUSER_TEXT=\"{{ $json.body.filter(item => item.role === 'user').pop().content }}\" align\nwith the **Internal Issue Collection Policy** provided below.\n\nYour objectives are to:\n\n1. **List each identified gap or violation** in the submitted issue relative to the policy.\n2. **Provide specific recommendations** to address each identified gap or violation, ensuring compliance with the policy guidelines.\n\nExpress the result as attentions with a weighted rating to indicate relevance or accuracy for each.\n\n<EVALUATION>\n**Evaluate the accuracy:**\n\nCreate a new attention as the JSON data using the Sequential Data Entry approach.\nThe new attention should be the root having id=1 and \"parent_id\": null with the following details:\n\n- Name: \"Accuracy of USER_TEXT\"\n- Value: \"<accuracy in %>\"\n- Weight: \"<confidence estimation>\"\n\nAccuracy indicates the conformance of the USER_TEXT with the POLICY. It is your evaluation of the\nquality of the managers USER_TEXT. Carefully check if all attentions of the policy can be found in USER_TEXT.\n</EVALUATION>\n<POLICY>\n# Internal Issue Collection Policy\n\n**Determine the purpose of our organization**:\n\nBefore determining our purpose, the organization has to identify and then discuss our so-called planning issues.\n\nAll the managers in the organization are tasked to write down and mark 8 to 10 of the planning issues they\nface in their unit. The aim of this effort is to collectively protect what is satisfactory in the present operations,\nrecognize and pursue new opportunities, correct faults in present operations, and recognize and avert new threats\nin the future.\n\n**A short title for the issue**\n\nAdd a new attention to the JSON data using the Sequential Data Entry approach for the SOFT question.\nThe new attention should be nested under \"Overall Accuracy\" with the following details:\n\n- Name: \"Title\"\n- Value: \"<copy or suggestion for the title of issue>\"\n- Weight: \"<accuracy>\"\n\n**SOFT question**\nThe data to be gathered is to be best compiled by organizing them in answers to four (SOFT) questions. Select one of:\n\n1. What must be done to safeguard the __satisfactory__ in present operations?\n2. What must be done to open the door to __opportunities__ in future operations?\n3. What must be done to fix the cause of __faults__ of present operations?\n4. What must be done to thwart, ameliorate or avert the __threats__ to future operations?\n\n**if NOT one of the SOFT questions is found in USER_TEXT**\n\nAdd a new attention to the JSON data using the Sequential Data Entry approach for each SOFT question.\nThe new attention item should be nested under \"Title\" with the following details:\n\n- Name: \"SOFT Question\"\n- Value: \"<suggestion of the SOFT question>\"\n- Weight: \"<accuracy>\"\n\n**else if one of the SOFT questions is found in USER_TEXT**\n\nAdd a new attention to the JSON data using the Sequential Data Entry approach for that SOFT question.\nThe new attention should be nested under \"Title\" with the following details:\n\n- Name: \"SOFT Question\"\n- Value: \"<extraction of the SOFT question>\"\n- Weight: \"<accuracy>\"\n\n**Formulate a description**\n\nAdd a new attention to the JSON data using the Sequential Data Entry approach for the SOFT question.\nThe new attention should be nested under \"SOFT Question\" with the following details:\n\n- Name: \"Description\"\n- Value: \"<copy or suggestion for the description of the issue>\"\n- Weight: \"<accuracy>\"\n\n\n**References of sources or facts**\n\nAdd a new attention to the JSON data using the Sequential Data Entry approach for the SOFT question.\nThe new attention should be nested under \"SOFT Question\" with the following details:\n\n- Name: \"Reference sources or facts\"\n- Value: \"<copy or suggestion for the description of the issue>\"\n- Weight: \"<accuracy>\"\n\n**Possible actions and resource requirements**\n\nAdd a new attention to the JSON data using the Sequential Data Entry approach for the SOFT question.\nThe new attention should be nested under \"SOFT Question\" with the following details:\n\n- Name: \"Possible actions and resource requirements\"\n- Value: \"<copy or suggestion for the description of the issue>\"\n- Weight: \"<accuracy>\"\n  </POLICY>\n\n### Response Format:\nYour response should adhere to the following JSON structure:\n\n```json\n{\n  \"attentions\": [\n    {\n      \"id\": 1,\n      \"name\": \"Aspect Name\",\n      \"value\": \"Aspect Value\",\n      \"weight\": \"0.0-1.0\",\n      \"parent_id\": null\n    }\n  ]\n}\n```\n\nEnsure that each new attention has a unique \"id\" and the \"parent_id\" corresponds to the \"id\" of its parents \"Aspect Name\".\n\nEnsure that the response content is a valid json and only json.\n",
        "hasOutputParser": true
      },
      "id": "536cee8d-8244-41cb-8a16-4a8ced417d69",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        40,
        60
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e0850ce0-3ffb-466e-8a40-89b58006678f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68f9e66783549a11e344292a1ef8ccb1a9d2307f134c3a15405499ae2f6cb69a"
  },
  "id": "0KcOmBjoZ1mhiGXp",
  "tags": [
    {
      "createdAt": "2025-02-14T08:40:25.904Z",
      "updatedAt": "2025-02-14T08:40:25.904Z",
      "id": "TV20jI4XkgLHPpxz",
      "name": "Design"
    }
  ]
}